.upper-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color : yellow;
}

.upright {
 display : block;
 margin-bottom : 10px;  
}

#searchBut{
 background-color: #202124;
 color : white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 65vh;
}

.searchBar{
    width: 600px;
    height : 25px;
    border-radius: 10px white;
    background-color: #202124;
    color:white;
    margin-bottom:10px;
}

body{
 background-color :#202124;
 color:white;  
}

#imageSubmit{
    color:white;
    background-color:#202124;
}

.googleLogo {
    width: 372px;
    height: 250px;
    margin-bottom: 0px;
}

.formCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#advanSearch {
    color: lightcoral;
}

#advanWords{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 55px;
    color : lightslategray;
}

#advanInputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 160px;
}

#mainDiv{
    display : flex;
    gap : 20px;
}

.advanInputBox{
    width: 700px;
    margin-bottom: 5px;
    background-color: #202124;
    color: lightgray;
}

.advanInputBox2{
    width: 700px;
    margin-bottom: 25px;
    background-color: #202124;
    color: white;
}

.r{
    margin-top: 10px;
}

#advanInstructions{
 display:flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 175px;
}

.narrowText{
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.instructions {
   font-size: 12px;
   margin-bottom: 10px;
   color: lightslategray;
}

.instructions2{
    font-size: 12px;
    margin-bottom: 10px;
    color: white;
}

.advanExamples{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 13px;
margin-top: 130px;
}

.instructionStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -50px;
    gap: 15px;
}

#exampleDiv{
display: flex;
justify-content: flex-start;
gap: 5px;
margin-top: 20px;
}

#narrowResults p,
#narrowResults a {
    color: lightslategray;
    margin-bottom: 35px;
    margin-left: 55px;
}

#mainDivReal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

#usagerights{
    color:lightskyblue;
}

#bottomHalf{
    display:flex;
    gap:15px;
}

#bottomHalfExamplesDiv{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  gap: 15px;
}

.bottomExample{
    color: lightslategray;
    font-size: 12px;
}

#advanInputs2{
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    gap: 25px;
    justify-content: flex-start;
}

#googleLogo{
    width:105px;
    height:35px;
    margin-left: 15px;
    margin-top: 10px;
}